.btn-circle {
    width: 30px;
    height: 30px;
    padding: 6px 0px;
    border-radius: 15px;
    text-align: center;
    font-size: 12px;
    line-height: 1.42857;
}

.divider {
    border-bottom: 1px solid black;
}

hr.solid {
    border-top: 2px solid #999;
}
