<div class='card'>
    <div class='card-header'>
      <div class="card-container-left">{{pageTitle}}</div>
      <div class="card-container-right">Total Price: {{total_price}} Algos</div>
      
    </div>
    <div class='card-body'>
      <div class='table-responsive'>
        <table class='table'
               *ngIf='products'>
          <thead>
            <tr>
              <th>
                <button class='btn btn-primary'
                        (click)='toggleImage()'>
                  {{showImage ? 'Hide' : 'Show'}} Image
                </button>
              </th>
              <th>Product</th>
              <th>Code</th>
              <th>Available</th>
              <th>Price</th>
              <th>5 Star Rating</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor='let product of products'>
              <td>
                <img *ngIf='showImage'
                     [src]='product.imageUrl'
                     [title]='product.productName'
                     [style.width.px]='imageWidth'
                     [style.margin.px]='imageMargin'>
              </td>
              <td>
                <a [routerLink]="['/products', product.productId]">
                  {{ product.productName }}
                </a>
              </td>
              <td>{{ product.productCode | lowercase }}</td>
              <td>{{ product.releaseDate }}</td>
              <td align="right">{{ product.price }} Algos</td>
              <td>
                <pm-star [rating]='product.starRating'
                         (ratingClicked)='onRatingClicked($event)'>
                </pm-star>
              </td>
            </tr>
          </tbody>
        </table>
        <pm-checkout [products] = "products" [checkout_total]="total_price" (checkoutFinished)="checkoutFinished($event)"></pm-checkout>
      </div>
    </div>
  </div>
  <div *ngIf='errorMessage'
       class='alert alert-danger'>
    Error: {{ errorMessage }}
  </div>
